<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Training</title>
  <link rel="stylesheet" href="../../static/css/reset-config.css">
  <link rel="stylesheet" href="../../static/css/profiles/profile.css">
  <link rel="stylesheet" href="../../static/css/profiles/trainer-view.css">
  <link rel="stylesheet" href="../../static/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../static/css/trainer.css">
</head>
<body>

<div th:replace="~{includes/fragments :: header}"></div>

<div th:replace="~{includes/fragments::footer}"></div>


</body>
</html>