<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profil bearbeiten</title>
    <link rel="stylesheet" href="../../static/css/reset-config.css">
    <link rel="stylesheet" href="../../static/css/profiles/profile.css">
    <link rel="stylesheet" href="../../static/css/profiles/edit-profile.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/button.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>
<body>
<div th:replace="~{includes/fragments :: cookie}"></div>
<div th:replace="includes/fragments ::header"></div>

<div class="content">

    <div class="container-wrapper">

        <div class="container">
            <div class="profile">
                <img th:src="@{'profile/image/' + ${appuser.appuser_id}}"/>

                <form
                        th:action="@{profile/save-image}"
                        th:object="${appuser}"
                        method="POST"
                        enctype="multipart/form-data">

                    <div>
                        <input type="file" name="image" accept="image/png, image/jpeg" required/>
                    </div>
                    <button class="button" type="submit">Profilbild hinzufügen</button>
                </form>
            </div>

            <div class="user-details">
                <form
                        class="user-details-form"
                        action='/user/update-username'
                        method="POST">

                    <fieldset>
                        <h2 style="font-size: 24px;margin-bottom: 10px;">Profil bearbeiten</h2>
                        <div>
                            <!-- Username -->
                            <label>Username</label>
                            <div>
                                <input type="text" name="username" th:placeholder="${appuser.username}">
                            </div>
                        </div>

                        <div>
                            <!-- Button -->
                            <div>
                                <button class="button" type="submit">Username speichern</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <form
                        class="user-details-form"
                        action='/user/update-email'
                        method="POST">

                    <fieldset>
                        <div>
                            <!-- Username -->
                            <label>Email</label>
                            <div>
                                <input type="text" name="email" th:placeholder="${appuser.email}">
                            </div>
                        </div>

                        <div>
                            <!-- Button -->
                            <div>
                                <button class="button" type="submit">Email speichern</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <form
                        class="user-details-form"
                        action='/user/update-firstname'
                        method="POST">

                    <fieldset>
                        <div>
                            <!-- Username -->
                            <label>Vorname</label>
                            <div>
                                <input type="text" name="firstname" th:placeholder="${appuser.firstname}">
                            </div>
                        </div>

                        <div>
                            <!-- Button -->
                            <div>
                                <button class="button" type="submit">Vorname speichern</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <form
                        class="user-details-form"
                        action='/user/update-lastname'
                        method="POST">

                    <fieldset>
                        <div>
                            <!-- Username -->
                            <label>Nachname</label>
                            <div>
                                <input type="text" name="lastname" th:placeholder="${appuser.lastname}">
                            </div>
                        </div>

                        <div>
                            <!-- Button -->
                            <div>
                                <button class="button" type="submit">Nachname speichern</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <form
                        class="user-details-form"
                        action='/user/update-description'
                        method="POST">

                    <fieldset>
                        <div>
                            <!-- Username -->
                            <label>Beschreibung</label>
                            <div>
                                <input type="text" name="description" id="description-input" th:placeholder="${appuser.description}">
                            </div>
                        </div>

                        <div>
                            <!-- Button -->
                            <div>
                                <button class="button" type="submit">Beschreibung speichern</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <hr>

                <div class="location-wrapper">
                    <h2 style="font-size: 24px;margin-bottom: 10px;">Ort bearbeiten</h2>
                    <h3>Mit dem Ort wird dein Profil für andere Benutzer sichtbar.</h3>
                    <form
                            th:action="@{profile/save-location}"
                            method="POST">
                        <div class="location-div">
                            <input type="text" name="street" placeholder="Straße" required>
                            <input type="text" name="streetNumber" placeholder="Hausnummer" required>
                            <input type="text" name="city" placeholder="Ort" required>
                            <input type="text" name="plz" placeholder="Postleitzahl" required>
                        </div>
                        <div>
                            <button class="button" type="submit">Ort speichern</button>
                            <div th:if="${!param.isEmpty()}">
                                <h2 th:if="${param.q.contains('error_location')}">Die Ortseingabe ist nicht Valide!</h2>
                            </div>
                        </div>
                    </form>

                </div>



                <div class="user-details-links">
                    <a href="/"><i class="fa fa-home"></i> Home</a>
                    <a href="/user/profile"><i class="fa fa-user"></i> Profil</a>
                    <a href="/user/logout"><i class="fa fa-sign-out"></i> Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{includes/fragments :: footer}"></div>

</body>
</html>