<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../../static/css/reset-config.css">
    <link rel="stylesheet" href="../../static/css/profiles/profile.css">
    <link rel="stylesheet" href="../../static/css/profiles/trainer.css">
    <link rel="stylesheet" href="../../static/css/main.css">
</head>
<body>
        <p>TRAINER</p>
        <h1>User Profile</h1>

        <form
                th:action="@{profile/save-image}"
                th:object="${appuser}"
                method="POST"
                enctype="multipart/form-data">

            <div>
                <label>Add profile picture</label>
                <br>
                <input type="file" name="image" accept="image/png, image/jpeg" required/>
            </div>
            <button type="submit">Add picture</button>
        </form>

        <img th:src="@{'profile/image/' + ${appuser.appuser_id}}"/>

        <label>Username: </label>
        <p th:text="${appuser.username}"></p>

        <label>Vorname: </label>
        <p th:text="${appuser.firstname}"></p>

        <label>Nachname: </label>
        <p th:text="${appuser.lastname}"></p>

        <label>Email: </label>
        <p th:text="${appuser.email}"></p>

        <br>
        <br>
        <p>Ohne gültige Location kann dein Profil nicht gefunden werden!</p>
        <form
                th:action="@{profile/save-location}"
                method="POST">
        <div>
            <label>Standort</label>
            <input type="text" name="street" placeholder="Straße" required>
            <input type="text" name="streetNumber" placeholder="Hausnummer" required>
            <input type="text" name="city" placeholder="Ort" required>
            <input type="text" name="plz" placeholder="Postleitzahl" required>
        </div>

        <button type="submit">Add Location</button>
        </form>

        <br>
        <br>
        <a href="/user/logout">Logout</a>
        <a href="/">Home</a>
        <br>
        <br>

    <form
            th:action="@{profile/save-training}"
            method="POST">

        <div>
            <label>Title</label>
            <div>
                <input type="text" id="titel" name="title"  placeholder="" required>
            </div>
        </div>

        <div>
            <label>Beschreibung</label>
            <div>
                <input type="text" id="description" name="description"  placeholder="" required>
            </div>
        </div>

        <div>
            <label>Preis</label>
            <div>
                <input type="number" id="preis" name="price" placeholder="" required>
            </div>
        </div>
        <div>
            <label>Datum</label>
            <div>
                <input type="date" pattern="\d{4}-\d{2}-\d{2}" id="date" name="date" placeholder="" required>
            </div>
        </div>

        <div>
            <label>Beginnzeit</label>
            <div>
                <input type="time" pattern="\d{4}-\d{2}-\d{2}" id="beginn_time" name="beginntime" placeholder="00:00" required>
            </div>
        </div>

        <div>
            <label>Endzeit</label>
            <div>
                <input type="time" pattern="\d{4}-\d{2}-\d{2}" id="end_time" name="endtime" placeholder="00:00" required>
            </div>
        </div>

        <div>
            <label>Standort</label>
            <input type="text" id="street" name="street" placeholder="Straße" required>
            <input type="text" id="street-number" name="streetNumber" placeholder="Hausnummer" required>
            <input type="text" id="city" name="city" placeholder="Ort" required>
            <input type="text" id="postalcode" name="plz" placeholder="Postleitzahl" required>
        </div>

        <button type="submit">Add Training</button>
    </form>


    <table>
        <thead>
        <tr>
            <th scope="col">Training</th>
            <th scope="col">Beschreibung</th>
            <th scope="col">Preis</th>
            <th scope="col">Datum</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="training: ${trainings}">
            <th th:text="${training.titel}"></th>
            <td th:text="${training.description}"></td>
            <td th:text="${training.price + '€'}"></td>
            <td th:text="${#dates.format(training.date, 'dd.MM.yyyy')}"></td>

        </tr>
        </tbody>
    </table>

    </body>
</html>