<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../../static/css/reset-config.css">
    <link rel="stylesheet" href="../../static/css/profiles/profile.css">
    <link rel="stylesheet" href="../../static/css/profiles/trainer-view.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/trainer.css">
</head>
<body>
<div>
    <div th:replace="~{includes/fragments :: header}"></div>
    <div class="profil-div">

        <div class="left-div">
            <div class="left-profil-div">
                <h1 th:text="${appuser.username}"></h1>
                <h2 th:text="${appuser.firstname} + ' ' + ${appuser.lastname} "></h2>
                <!--<a th:href="'mailto:' + ${appuser.email}" th:text="${appuser.email}"></a>-->
            </div>
            <div>
                <h3>Location angeben!</h3>
                <form
                        th:action="@{profile/save-location}"
                        method="POST">
                    <div class="location-div">
                        <input type="text" name="street" placeholder="Straße" required>
                        <input type="text" name="streetNumber" placeholder="Hausnummer" required>
                        <input type="text" name="city" placeholder="Ort" required>
                        <input type="text" name="plz" placeholder="Postleitzahl" required>
                    </div>

                    <button type="submit">Add Location</button>
                </form>

            </div>
        </div>
        <div>
            <form
                    th:action="@{profile/save-image}"
                    th:object="${appuser}"
                    method="POST"
                    enctype="multipart/form-data">

                <div>
                    <label>Add profile picture</label>
                    <br>
                    <input type="file" name="image" accept="image/png, image/jpeg" required/>
                </div>
                <button type="submit">Add picture</button>
            </form>
            <img th:src="@{'/user/profile/image/' + ${appuser.appuser_id}}"/>
        </div>
    </div>
    <div>
        <form
                th:action="@{profile/save-training}"
                method="POST"
                enctype="multipart/form-data">

            <div>
                <label>Title</label>
                <div>
                    <input type="text" id="titel" name="title" placeholder="" required>
                </div>
            </div>

            <div>
                <label>Beschreibung</label>
                <div>
                    <input type="text" id="description" name="description" placeholder="" required>
                </div>
            </div>

            <div>
                <label>Preis</label>
                <div>
                    <input type="number" id="preis" name="price" placeholder="" required>
                </div>
            </div>
            <div>
                <label>Datum</label>
                <div>
                    <input type="date" pattern="\d{4}-\d{2}-\d{2}" id="date" name="date" placeholder="" required>
                </div>
            </div>

            <div>
                <label>Beginnzeit</label>
                <div>
                    <input type="time" pattern="\d{4}-\d{2}-\d{2}" id="beginn_time" name="beginntime"
                           placeholder="00:00"
                           required>
                </div>
            </div>

            <div>
                <label>Endzeit</label>
                <div>
                    <input type="time" pattern="\d{4}-\d{2}-\d{2}" id="end_time" name="endtime" placeholder="00:00"
                           required>
                </div>
            </div>

            <div>
                <label>Standort</label>
                <input type="text" id="street" name="street" placeholder="Straße" required>
                <input type="text" id="street-number" name="streetNumber" placeholder="Hausnummer" required>
                <input type="text" id="city" name="city" placeholder="Ort" required>
                <input type="text" id="postalcode" name="plz" placeholder="Postleitzahl" required>
            </div>
            <div>
                <input type="file" id="picture" name="picture" accept="image/png, image/jpeg, image/jpg" required/>
            </div>
            <button type="submit">Add Training</button>
        </form>
    </div>
    <h1 class="Training-h1">Angebotene Trainings: </h1>
    <div th:replace="~{includes/Lists:: traingingsList}"></div>
</div>
</body>
</html>