<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="../../static/style/reset-config.css">
  <link rel="stylesheet" href="../../static/style/entry/registration.css">
</head>
<body>

  <form
        id="sumbit-form"
        action=''
        method="POST">

    <fieldset>
      <div id="legend">
        <legend class="">Register</legend>
      </div>
      <div>
        <!-- Username -->
        <label>Username</label>
        <div>
          <input type="text" id="username" name="username" placeholder="" required>
        </div>
      </div>

      <div>
        <!-- Firstname -->
        <label for="firstname">Vorname</label>
        <div>
          <input type="text" id="firstname" name="firstname" placeholder="" required>
        </div>
      </div>

      <div>
        <!-- Lastname -->
        <label for="lastname">Nachname</label>
        <div>
          <input type="text" id="lastname" name="lastname" placeholder="" required>
        </div>
      </div>

      <div>
        <!-- E-mail -->
        <label for="email">E-Mail</label>
        <div>
          <input type="text" id="email" name="email" placeholder="" required>
        </div>
      </div>

      <div>
        <!-- Password-->
        <label for="password">Passwort</label>
        <div>
          <input type="password" id="password" name="password" placeholder="" required>
        </div>
      </div>

      <div>
        <select id="role" name="role" required>
          <option selected>Als was möchtest du dich registrieren?</option>
          <option value="DOG_TRAINER">Hundetrainer</option>
          <option value="DOG_OWNER">Hundebesitzer</option>
        </select>
      </div>

      <div>
        <!-- Button -->
        <div>
          <button id="register-button" type="submit" onclick="toggleEmailConfirmation()">Register</button>
        </div>
      </div>
    </fieldset>
</form>

  <div id="email-confirmation" style="display: none">
      <p id="confirm-email">Bitte Bestätige deine E-Mail Adresse!</p>
  </div>
  <br>
  <a href="/user/login">Already have an account?</a>
  <br>
  <a href="/">Home</a>
  <script>



    const xhr = new XMLHttpRequest();

    const form = document.querySelector('#sumbit-form');
    form.addEventListener('submit', function(event) {
      event.preventDefault(); // prevent the form from submitting normally
      const formData = new FormData(form);
      const data = {};
      for (const [key, value] of formData.entries()) {
        data[key] = value;
      }
      const jsonData = JSON.stringify(data);

      xhr.open('POST', form.action);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function() {
        if (xhr.status === 200) {
          console.log('Request successful');
        } else {
          console.log('Request failed');
        }
      };

        xhr.send(jsonData);

    });

    function toggleEmailConfirmation() {
      const confirmation = document.getElementById('email-confirmation');

      document.getElementById("register-button").innerText = "Email erneut senden";

      if (confirmation.style.display === 'none') {
        confirmation.style.display = 'block';
      }
      return true;
    }

  </script>
</body>
</html>