.login-div{

    align-items: center;
    padding: 2em;
    background-color: #FEFEFE;
    box-shadow: 2px 1px 5px 1px #0202024b;
    border-radius: 1em;
    width: min-content;
    margin: 20px auto;
    border: 0;
}
h1{
    margin-bottom:1em;
}

input{
    padding-top: 0.5em;
    padding-bottom: 1em ;
    margin-bottom: 1em;
    width: 30em;
}


/*.aling-body {
    display: grid;
    grid-template-rows:  1fr ;
    grid-template-columns:  1fr ;
    align-items: center;
    justify-content: space-around;

}*/

select{
    width: 30em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
}

fieldset{
    border: 0;
}

.reg-title{
    margin: auto;
    padding-bottom: 1em;
}

#button{
    width: 20em;
    padding-bottom: 1em;
    padding-top: 1em;
}

.input-div{
    text-align: left;
}

.agb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.checkbox {
    width: 3em;
    vertical-align: middle;
}
