<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HappyDog</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/main.css">

</head>
<body>

    
    <header>
        <h1 class="title">HappyDog</h1>

        <div class="nav-container">
            <ul class="nav">
                <li><a href="/user/profile"><i class="fa fa-sign-in"></i></a></li>
                <li><a href="/user/registration"><i class="fa fa-user"></i></a></li>
            </ul>
        </div>
    </header>

    
    <div class="wrapper">
        <div class="search-container">

            <h2 class="search-title">Finde das perfekte Hundetraining</h2>
        
            <div class="search-grid-container">   
                <div class="grid-item-1">

                    <form
                        id="search-form"
                        th:action="@{/search}"
                        method="POST"
                                    >
        
                    <input type="text" name="location" placeholder="Ort oder Adresse...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>

                </div>
                <div class="grid-item-2">
                    <div class="search-range">
                        <select class="search-select" id="range" name="range" form="search-form">
                            <option value=10>10 Km</option>
                            <option value=25>25 Km</option>
                            <option value=50>50 Km</option>
                            <option value=100>100 Km</option>
                        </select>
                    </div>

                </div> 
            </div>
        </div>
    </div>
    
    <footer>
        <div class="footer-links">

            <a href="">Cookie Policy</a>
            <a href="">HappyDog</a>
            <a href="">Datenschutzerklärung</a>

        </div>
       
    </footer>


</body>
</html>