<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HappyDog</title>

   <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="../static/css/reset-config.css">
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>

    <h1>HappyDog</h1>
    <br>
    <a href="/user/login">Login</a>
    <br>
    <a href="/user/registration">Registration</a>
    <br>
    <a href="/user/profile">Profile</a>
    <br>

    <br>
    <a href="/">Home</a>
    <br>

    </form>

    <table>
        <thead>
        <tr>
            <th scope="col">Trainer</th>
            <th scope="col">Ort</th>
            <th scope="col">Anzahl der Trainings</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="appuser: ${appusers}">
            <th th:text="${appuser.username}"></th>
            <td th:text="${appuser.location.city}"></td>
            <td th:text="${appuser.trainings.size()}"></td>
            <td>
                <a th:href="@{/trainer/view(trainer_id=${appuser.appuser_id})}">Show</a>
            </td>
        </tr>
        </tbody>
    </table>


</body>
</html>