<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HappyDog</title>
   <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">-->
   <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/search.css">
</head>
<body>
<div th:replace="~{includes/fragments :: header}"></div>
<main>
    <ScrollViewer class="content">
        <div th:replace="~{includes/Lists :: trainerList}"></div>
        <div th:if="${#lists.isEmpty(appusers)}">
                <div th:replace="~{includes/Lists :: noTrainer}"></div>
        </div>
    </ScrollViewer>
</main>
<div th:replace="~{includes/fragments::footer}"></div>
</body>
</html>