<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Training</title>
  <link rel="stylesheet" href="../../static/style/reset-config.css">
  <link rel="stylesheet" href="../../static/style/profiles/profile.css">
  <link rel="stylesheet" href="../../static/style/training.css">
</head>
<body style="margin: auto">

<h2 th:text="${training.titel}"></h2>

<label>Beschreibung: </label>
<p th:text="${training.description}"></p>

<label>Preis: </label>
<p th:text="${training.price + '€'}"></p>

<label>Datum:</label>
<p th:text="${training.date}"></p>

<label>Startzeit:</label>
<p th:text="${training.beginnTime}"></p>

<label>Endzeit:</label>
<p th:text="${training.endTime}"></p>


<label>Ort:</label>
<p th:text="${training.location.street + ' ' + training.location.streetNumber + ', ' + training.location.plz + ', ' + training.location.city}"></p>


<div style="width: 100%"><iframe width="100%" height="600"  th:src="@{'https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q='+${training.location.street}+'%20'+${training.location.streetNumber}+',%20'+${training.location.plz}+'%20'+${training.location.city}+'+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed'}"><a href="https://www.maps.ie/distance-area-calculator.html">measure area map</a></iframe></div>

<br>
<a href="/">Home</a>


</body>
</html>