<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
    <link rel="stylesheet" href="../static/css/profiles/training.css">
    <link rel="stylesheet" href="../static/css/button.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="margin: auto">
<div th:replace="~{includes/fragments :: cookie}"></div>
<div th:replace="~{includes/fragments :: header}"></div>

<main>
<div class="content-Box">
    <div class="content-Img-Place">
        <img th:src="@{'/user/training/image/' + ${training.training_id}}"/>
        <iframe  th:src="@{'https://maps.google.com/maps?width=50px25&amp;height=600&amp;hl=en&amp;q='+${training.location.street}+'%20'+${training.location.streetNumber}+',%20'+${training.location.plz}+'%20'+${training.location.city}+'+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed'}">
            <a href="https://www.maps.ie/distance-area-calculator.html">measure area map</a></iframe>
    </div>
    <div class="textPart">
        <div class="topItem">
            <h1 th:text="${training.titel}"></h1>
            <h2 th:text="${training.price} + ' €'"></h2>
            <h3 th:text="|${#dates.format(training.date,'dd.MM.yyyy')} von ${training.beginnTime} bis ${training.endTime}|"></h3>
        </div>
        <div>
            <h3>Beschreibung: </h3>
            <p th:text="${training.description}"></p>
            <h3>Addresse:</h3>
            <p th:text="${training.location.getCity() + ', ' + training.location.getStreet() + ', ' + training.location.getStreetNumber() + ', ' + training.location.getPlz()}"></p>
        </div>
        <a style="text-decoration: none" th:if="${!training.isBooked} "th:href="@{/payment-form(training_id=${training.training_id})}">
            <button class="button">Jetzt buchen!</button>
        </a>
    </div>
</div>
</main>

<div th:replace="~{includes/fragments::footer}"></div>
</body>

</html>