<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Buchung erfolgreich</title>
  <link rel="stylesheet" href="../../static/css/reset-config.css">
  <link rel="stylesheet" href="../../static/css/button.css">
  <link rel="stylesheet" href="../../static/css/entry/email-confirmation.css">
  <link rel="stylesheet" type="text/css" href="/static/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="~{includes/fragments :: header}"></div>

<main>
  <div class="content-wrapper-center">

    <div class="content-center">
      <a th:href="@{/book-training(training_id=${training.training_id})}">
        <button class="button" style="background-color: #ABC4AA">Training bezahlen und buchen</button>
      </a>
      <a href="/"><button class="button" style="background-color: lightcoral">Bezahlung abbrechen</button></a>
    </div>
  </div>

</main>

<div th:replace="~{includes/fragments::footer}"></div>

</body>
</html>