<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Buchung erfolgreich</title>
  <link rel="stylesheet" href="../../static/css/reset-config.css">
  <link rel="stylesheet" href="../../static/css/entry/email-confirmation.css">
  <link rel="stylesheet" type="text/css" href="/static/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="~{includes/fragments :: header}"></div>

<main>
<a th:href="@{/book-training(training_id=${training.training_id})}">Training bezahlen und buchen</a>
<hr>
<a href="/">Bezahlung abbrechen</a>
</main>

<div th:replace="~{includes/fragments::footer}"></div>

</body>
</html>