<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookie-Richtlinie</title>
    <link rel="stylesheet" href="../../static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="includes/fragments:: header"></div>

<div style="
width: 80%;
margin: 50px auto 50px auto;
padding: 5em;
background-color: #FEFEFE;
box-shadow: 2px 1px 5px 1px #0202024b;
border-radius: 1em;
">
    <h1>Cookie-Richtlinie für HappyDog</h1>
    <h2>1. Einleitung</h2>
    <p>Die Website "HappyDog" verwendet Cookies, um Ihre Online-Erfahrung zu verbessern. Diese Cookie-Richtlinie erklärt, was Cookies sind, wie wir sie verwenden und wie Sie sie verwalten können.</p>
    <h2>2. Was sind Cookies?</h2>
    <p>Cookies sind kleine Textdateien, die von Websites auf Ihren Computer oder mobilen Gerät gespeichert werden, wenn Sie die Website besuchen. Sie ermöglichen es der Website, sich an Ihre Aktionen und Vorlieben (wie Login, Sprache, Schriftgröße und andere Anzeigevoreinstellungen) über einen bestimmten Zeitraum zu erinnern.</p>
    <h2>3. Wie verwenden wir Cookies?</h2>
    <p>HappyDog verwendet nur Sitzungs-Cookies. Diese Cookies werden temporär auf Ihrem Computer oder mobilen Gerät gespeichert und werden gelöscht, sobald Sie Ihren Browser schließen. Sie ermöglichen es unserer Website, Sie für die Dauer Ihrer Sitzung zu erkennen und Ihnen eine sichere, optimierte Nutzererfahrung zu bieten.</p>
    <h2>4. Wie können Sie die Cookies verwalten?</h2>
    <p>Die meisten Browser erlauben es Ihnen, Cookies zu kontrollieren, indem Sie deren Einstellungen anpassen. Wenn Sie Cookies jedoch deaktivieren, kann dies Ihre Nutzererfahrung auf unserer Website beeinträchtigen und bestimmte Funktionen möglicherweise nicht ordnungsgemäß funktionieren.</p>
    <h2>5. Datensicherheit und Datenschutz</h2>
    <p>HappyDog nimmt den Schutz Ihrer persönlichen Daten sehr ernst und beachtet die Bestimmungen der Datenschutz-Grundverordnung (DSGVO). Die mittels Cookies erfassten Daten werden nicht dazu verwendet, Sie als Person zu identifizieren, und die Muster der Daten sind vollständig unter unserer Kontrolle.</p>
    <h2>6. Änderungen an dieser Cookie-Richtlinie</h2>
    <p>Wir können diese Cookie-Richtlinie von Zeit zu Zeit ändern, um beispielsweise Änderungen an unseren Cookies oder aus rechtlichen, regulatorischen oder betrieblichen Gründen widerzuspiegeln. Bitte besuchen Sie daher diese Cookie-Richtlinie regelmäßig, um über unsere Verwendung von Cookies informiert zu bleiben.</p>
    <h2>7. Kontakt</h2>
    <p>Wenn Sie Fragen zu dieser Cookie-Richtlinie haben, können Sie uns über die auf unserer Website angegebenen Kontaktinformationen erreichen.</p>
    <p>Letzte Aktualisierung: 21. Juni 2023</p>
</div>
<div th:replace="includes/fragments ::footer"></div>
</body>
</html>