<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../../static/css/reset-config.css">
    <link rel="stylesheet" href="../../static/css/entry/email-confirmation.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:replace="~{includes/fragments :: header}"></div>
<main>
    <div class="content-wrapper-center">
        <div class="content-center">
            <h1>Email Adresse bestätigt.</h1>
            <a href="/"><i class="fa fa-home"></i> Zurück zur Startseite!</a>
            <a href="/user/profile"><i class="fa fa-user"></i> Profil</a>
        </div>
    </div>

<div th:replace="~{includes/fragments::footer}"></div>
</main>
</body>
</html>