<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Please Log In</title>
  <link rel="stylesheet" href="../../static/css/reset-config.css">
  <link rel="stylesheet" href="../../static/css/entry/loginAndRegistration.css">
  <link rel="stylesheet" href="../../static/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="aling-body">
<div th:replace="~{includes/fragments :: header}"></div>
<main>
  <div class="login-div">
    <h1>Please Log In</h1>
    <div th:if="${param.error}">
      Invalid username and password.</div>
    <div th:if="${param.logout}">
      You have been logged out.</div>
    <form th:action="@{/user/login}" method="post">
      <div>
        <input type="text" name="username" placeholder="Username"/>
      </div>
      <div>
        <input type="password" name="password" placeholder="Password"/>
      </div>
      <input type="submit" value="Log in" />
    </form>
    <br>
    <a href="/user/registration">No Account? Register here!</a>
  </div>
</main>
<div th:replace="~{includes/fragments::footer}"></div>
</body>
</html>