<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Please Log In</title>
  <link rel="stylesheet" href="../../static/css/reset-config.css">
  <link rel="stylesheet" href="../../static/css/entry/logout.css">
  <link rel="stylesheet" href="../../static/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="~{includes/fragments :: header}"></div>
<main>
  <h1>Logout</h1>
  <a href="/">Zurück zur Startseite</a>
</main>
<div th:replace="~{includes/fragments :: footer}"></div>
</body>
</html>