<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datenschutzrichtlinie</title>
    <link rel="stylesheet" href="../../static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:replace="includes/fragments:: header"></div>

<div style="
width: 80%;
margin: 50px auto 50px auto;
padding: 5em;
background-color: #FEFEFE;
box-shadow: 2px 1px 5px 1px #0202024b;
border-radius: 1em;
">
    <h1>Datenschutzerklärung für HappyDog</h1>
    <h2>1. Einleitung</h2>
    <p>Diese Datenschutzerklärung informiert Sie darüber, wie "HappyDog" persönliche Daten erhebt und verarbeitet, die Sie uns bei der Nutzung unserer Website zur Verfügung stellen. Die Privatsphäre unserer Nutzer ist uns sehr wichtig und wir sind bestrebt, Ihre Daten in Übereinstimmung mit der Datenschutz-Grundverordnung (DSGVO) zu schützen.</p>
    <h2>2. Daten, die wir erfassen</h2>
    <p>Wenn Sie sich auf unserer Website registrieren, erheben wir die folgenden Informationen: Vorname, Nachname und E-Mail-Adresse. Wenn Sie als Hundetrainer tätig sind und einen Trainingsort erstellen, erheben wir zusätzlich den von Ihnen angegebenen Ort. Diese Informationen werden in unserer Datenbank gespeichert.</p>
    <h2>3. Wie wir Ihre Daten verwenden</h2>
    <p>Wir verwenden Ihre Daten, um Ihr Konto zu erstellen und zu verwalten, um Sie über wichtige Änderungen an unserer Website zu informieren und um Ihnen unsere Dienste anzubieten. Wenn Sie ein Hundetrainer sind, verwenden wir die von Ihnen angegebenen Ortsinformationen, um das Training zu organisieren.</p>
    <h2>4. Wie wir Ihre Daten schützen</h2>
    <p>Wir setzen technische und organisatorische Maßnahmen ein, um Ihre persönlichen Daten zu schützen. Dazu gehört die Verschlüsselung Ihrer Daten während der Übertragung und der Speicherung. Insbesondere wird Ihr Passwort verschlüsselt übermittelt und gespeichert.</p>
    <h2>5. Datenübertragung an Dritte</h2>
    <p>Wir verwenden Google APIs, um Ortsdaten zu verarbeiten. Google ist ein Dienstleister, der nach der DSGVO als Datenverarbeiter gilt. Weitere Informationen zur Verarbeitung von Daten durch Google finden Sie in der Datenschutzerklärung von Google.</p>
    <h2>6. Ihre Rechte</h2>
    <p>Gemäß der DSGVO haben Sie das Recht auf Auskunft, Berichtigung, Löschung, Einschränkung der Verarbeitung, Datenübertragbarkeit, Widerruf und Widerspruch. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche anderweitig verletzt worden sind, können Sie sich bei einer Aufsichtsbehörde beschweren.</p>
    <h2>7. Änderungen dieser Datenschutzerklärung</h2>
    <p>Wir behalten uns das Recht vor, diese Datenschutzerklärung zu ändern, um sie an neue rechtliche Anforderungen oder Änderungen unserer Dienste anzupassen. Bitte überprüfen Sie diese Datenschutzerklärung regelmäßig, um auf dem Laufenden zu bleiben.</p>
    <h2>8. Kontakt</h2>
    <p>Bei Fragen zur Verarbeitung Ihrer persönlichen Daten können Sie uns über die auf unserer Website angegebenen Kontaktinformationen erreichen.</p>
    <a href="/contact">Kontakt</a>
    <p>Letzte Aktualisierung: 21. Juni 2023</p>
</div>
<div th:replace="includes/fragments ::footer"></div>
</body>
</html>