<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="../../static/css/reset-config.css">
  <link rel="stylesheet" href="../../static/css/entry/loginAndRegistration.css">
  <link rel="stylesheet" href="../../static/main.css">
  <link rel="stylesheet" href="../../static/css/button.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body class="aling-body">
<div th:replace="~{includes/fragments :: cookie}"></div>
<div th:replace="~{includes/fragments :: header}"></div>
<main>
  <div class="login-div">
    <form
          id="sumbit-form"
          action='/user/registration/register'
          method="POST">

      <fieldset>
        <div id="legend">
          <legend class="reg-title">Registrierung</legend>
        </div>
        <div class="input-div">
          <!-- Username -->
          <label>Username</label>
          <div>
            <input type="text" id="username" name="username" placeholder="" required>
          </div>
        </div>

        <div class="input-div">
          <!-- Firstname -->
          <label for="firstname">Vorname</label>
          <div>
            <input type="text" id="firstname" name="firstname" placeholder="" required>
          </div>
        </div>

        <div class="input-div">
          <!-- Lastname -->
          <label for="lastname">Nachname</label>
          <div>
            <input type="text" id="lastname" name="lastname" placeholder="" required>
          </div>
        </div>

        <div class="input-div">
          <!-- E-mail -->
          <label for="email">E-Mail</label>
          <div>
            <input type="text" id="email" name="email" placeholder="" required>
          </div>
        </div>

        <div class="input-div">
          <!-- Password-->
          <label for="password">Passwort</label>
          <div>
            <input type="password" id="password" name="password" placeholder="" required>
          </div>
        </div>

        <div>
          <select id="role" name="role" required>
            <option selected>Als was möchtest du dich registrieren?</option>
            <option value="DOG_TRAINER">Hundetrainer</option>
            <option value="DOG_OWNER">Hundebesitzer</option>
          </select>
        </div>

        <div class="agb-container">
          <label>Ich habe die <a target="_blank" href="/user/agb">AGBs</a> gelesen und bin damit einverstanden.
            <input class="checkbox" type="checkbox" required>
          </label>
        </div>


        <div>
          <!-- Button -->
          <div>
            <button class="button" id="button" type="submit">Registrieren</button>
          </div>
        </div>
      </fieldset>
  </form>

    <div th:if="${!param.isEmpty()}" style="text-align: center">
      <p th:if="${param.q.contains('user_error')}">Die E-Mail oder Benutzername kann nicht gewählt werden!</p>
      <p th:if="${param.q.contains('input_error')}">Diese E-Mail oder Benutzername ist nicht erlaubt!</p>
    </div>

    <div id="email-confirmation" style="display: none">
      <p id="confirm-email">Bitte Bestätige deine E-Mail Adresse!</p>
    </div>
    <br>
    <a href="/user/login">Du hast bereits einen Account?</a>
  </div>
</main>
  <script>
    const form = document.querySelector("#sumbit-form");
    const emailConfirmation = document.getElementById("email-confirmation");

    form.addEventListener("submit", async function (event) {
      event.preventDefault();
      const formData = new FormData(form);
      const data = {};
      for (const [key, value] of formData.entries()) {
        data[key] = value;
      }
      const jsonData = JSON.stringify(data);

      try {
        const response = await fetch(form.action, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: jsonData,
        });

        if (response.status === 200) {
          toggleEmailConfirmation();
        } else {
          response.text().then((body) => {
            alert(body);
          });
        }
      } catch (error) {
        console.error("Error during fetch:", error);
      }
    });

    function toggleEmailConfirmation() {
      emailConfirmation.style.display = "block";
    }
  </script>
<div th:replace="~{includes/fragments :: footer}"></div>
</body>
</html>