<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <meta charset="UTF-8">
    <title>HappyDog</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <header th:fragment="header">

        <div class="header-wrapper">
            <div class="header-item-left">
                <a class="header-logo" href="../../index"><h1 class="title"> <img src="/static/src/img/Logo_2.png" style="width: 150px; height: 150px" alt="logo"></h1></a>
            </div>
            <div class="header-item-middle">
                <img src="/static/src/img/Logo_title.png" style="width: 300px; height: 80px" alt="title">
            </div>
            <div class="header-item-right">
                <a href="/user/profile"><i class="fa fa-sign-in"></i></a>
                <a href="/user/registration"><i class="fa fa-user"></i></a>
            </div>
        </div>


    </header>

    <footer th:fragment="footer">
        <div class="footer-wrapper">
            <div class="footer-item-left">
                <a href="">Cookie Policy</a>
            </div>
            <div class="footer-item-middle">
                <img src="/static/src/img/Logo_title.png" style="width: 150px; height: 40px" alt="title">
            </div>
            <div class="footer-item-right">
                <a href="">Datenschutzerklärung</a>
            </div>
        </div>
    </footer>


</body>
</html>