<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="trainerList" th:each="appuser: ${appusers}">
    <a th:href="@{/trainer/view(trainer_id=${appuser.appuser_id})}" class="list-item">
        <div class="img-div">
            <img th:src="@{'user/profile/image/' + ${appuser.appuser_id}}"/>
        </div>
        <div class="list-item-text">
            <p th:text="${appuser.username}"/>
            <p th:text="${appuser.location.city}"/>
            <p th:text="${appuser.trainings.size()}"/>
        </div>
    </a>
</div>
<div th:fragment="traingingsList" th:each="training: ${appuser.trainings}">
    <a th:href="@{/training/view(training_id = ${training.training_id})}">
        <div class="trainerview">
            <img th:src="@{'/user/training/image/' + ${training.training_id}}"/>
            <div class="verticalDesign">
                <div class="verticalDesign">
                    <h1 th:text="${training.titel}"></h1>
                    <h2 th:text="${training.price} + ' €'"></h2>
                </div>
                <h2 th:text="${training.description}" class="descriptionSpan"></h2>
            </div>
            <div class="verticalDesign">
                <div class="verticalDesign">
                    <p th:text="${#dates.format(training.date,'dd.MM.yyyy')}"></p>
                    <div class="startEndTime">
                        <p th:text="|${training.beginnTime} bis ${training.endTime}|"></p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
</body>
</html>