<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="trainerList" th:each="appuser: ${appusers}">
    <!--/*@thymesVar id="appuser" type="at.happydog.test.enity.AppUser"*/-->
    <div th:if="${!appuser.trainings.isEmpty()}">
        <a th:href="@{/trainer/view(trainer_id=${appuser.appuser_id})}" class="list-item">
            <img th:src="@{'user/profile/image/' + ${appuser.appuser_id}}"/>
            <div>
                <H2 th:text="${appuser.firstname} + ' ' + ${appuser.lastname}"/>
                <p th:text="${appuser.trainings.size()} + '. Training/s in ' + ${appuser.location.city}"/>
                <div class="rating">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-star" viewBox="0 0 16 16">
                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                    </svg>
                    <p th:text="${' ' + #numbers.formatDecimal(appuser.averageRating,1,1)} + ' (' + ${appuser.ratings.size()} + ' Bewertungen)'"/>
                </div>
            </div>
        </a>
    </div>
</div>

<div th:fragment="noTrainer">
    <H2>Leider wurde kein Hundetrainer gefunden</H2>
</div>
<div th:fragment="traingingsList" th:each="training: ${appuser.trainings}" th:if="${!training.isBooked}">
    <!--/*@thymesVar id="training" type="at.happydog.test.enity.Training"*/-->
    <div th:if="${!training.isBooked}">
        <a th:href="@{/training/view(training_id = ${training.training_id})}">
            <div class="trainerview">
                <img th:src="@{'/user/training/image/' + ${training.training_id}}"/>
                <div class="verticalDesign">
                    <div class="verticalDesign">
                        <h1 th:text="${training.titel}"></h1>
                        <h2 th:text="${training.price} + ' €'"></h2>
                    </div>
                    <h2 th:text="${training.description}" class="descriptionSpan"></h2>
                </div>
                <div class="verticalDesign">
                    <div class="verticalDesign">
                        <p th:text="${#dates.format(training.date,'dd.MM.yyyy')}"></p>
                        <div class="startEndTime">
                            <p th:text="|${training.beginnTime} bis ${training.endTime}|"></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>

</body>
</html>